//Import jviz
@import "{JVIZ_MODULES}jviz/scss/all";

//Jviz tables main class
.jviz-modules-table
{
  //Style
  display: block; width: 100%;

  //Checkbox
  &-checkbox { @include jviz-components-checkbox; margin: { top: 0px; bottom: 0px; left: 5px; right: 5px; } }

  //Table container
  &-main { display: block; width: 100%; overflow-x: auto; overflow-y: auto; }

  //Table style
  &-table
  {
    //Style
    display: table; min-width: 100%;

    //Table style
    table-layout: auto;

    //Text
    @include jviz-font; color: $jviz-navy;

    //Border
    border: { collapse: collapse; width: 0px; }
  }

  //Head class
  &-head
  {
    //Style
    display: table-header-group; width: 100%; position: relative; height: 40px;

    //Background
    background-color: $jviz-grey-2;

    //Row
    &-row { display: table-row; transition: all 0.3s; }

    //Cell
    &-cell
    {
      //Stype
      display: table-cell; transition: all 0.3s; vertical-align: top;

      //Padding
      //padding: { left: 10px; right: 25px; top: 10px; bottom: 10px; }

      //First child
      &:first-child { border-top-left-radius: 5px !important; }

      //Last child
      &:last-child { border-top-right-radius: 5px !important; }

      //Cell title
      &-title
      {
        //Style
        display: block; float: left; height: 20px;

        //Width
        //width: calc(100% - 50px);

        //Disable user selection
        user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none;

        //Text
        font-weight: bold; line-height: 24px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;

        //Cursor
        cursor: pointer;

        //Padding
        padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }
      }

      //Cell order
      &-order
      {
        //Display
        display: block; width: 15px; height: 40px; float: right; transition: all 0.3s;

        //Cursor
        cursor: pointer;

        //Padding
        padding: { right: 5px; left: 10px; }

        //Background
        background-size: 15px 30px; background-position: center center; background-repeat: no-repeat;

        //No order
        &-none { background-image: url('./img/tab_order_none.svg'); }

        //Asc order
        &-asc { background-image: url('./img/tab_order_asc.svg'); }

        //Desc order
        &-desc { background-image: url('./img/tab_order_desc.svg'); }
      }

      //Order and title
      //&-order ~ &-title { width: calc(100% - 40px) !important; }

      //Checkbox cell
      &-check
      {
        //Display
        width: 26px;

        //Padding
        padding: { right: 10px; left: 10px; top: 12px; bottom: 12px; }
      }
    }
  }

  //Body class
  &-body
  {
    //Style
    display: table-row-group;

    //Row
    &-row
    {
      //Style
      display: table-row; transition: all 0.3s;

      //Even rows
      &:nth-child(even) { background-color: $jviz-grey-3; }

      //Even rows hover
      &:nth-child(even):hover { background-color: rgba($jviz-grey, 0.9); }

      //Odd rows
      &:nth-child(odd) { background-color: $jviz-grey-4; }

      //Odd rows hover
      &:nth-child(odd):hover { background-color: rgba($jviz-grey, 0.9); }
    }

    //Cell
    &-cell
    {
      //Style
      display: table-cell; transition: all 0.3s;

      //Padding
      padding: { left: 10px; right: 10px; top: 10px; bottom: 10px; }

      //Checkbox cell
      &-cell { }
    }

    //Body last row first cell
    &-row:last-child &-cell:first-child { border-bottom-left-radius: 5px; }

    //Body last row last cell
    &-row:last-child &-cell:last-child { border-bottom-right-radius: 5px; }
  }

  //Control options
  &-control
  {
    //Style
    display: block; width: 100%;

    //Padding
    padding: { top: 10px; bottom: 10px; }
  }

  //Info container
  &-info
  {
    //Display
    display: inline-block; float: left;

    //Text
    line-height: 30px; font-size: 14px; color: $jviz-navy;

    //Page showing
    &-showing
    {
      //Display
      display: inline-block; height: 30px;

      //Margin
      margin: { left: 10px; right: 0px; }
    }

    //Page total
    &-total
    {
      //Display
      display: inline-block; height: 30px;

      //Margin
      margin: { left: 5px; right: 0px; }
    }

    //Page checked rows counter
    &-checked
    {
      //Style
      display: inline-block; height: 30px;

      //Text
      font-size: 14px; font-weight: bold; color: $jviz-white; line-height: 30px;

      //Background color
      background-color: $jviz-navy-4;

      //Border
      border-radius: 5px;

      //Padding
      padding: { left: 10px; right: 10px; }

      //Margin
      margin: { left: 10px; right: 0px; }
    }
  }

  //Page entries
  &-entries
  {
    //Display
    display: block; height: 30px; float: left;

    //Text
    line-height: 30px; font-size: 14px; color: $jviz-navy;

    //Margin
    margin: { left: 0px; right: 10px; }

    //Label
    &-label { display: inline-block; }

    //Select
    &-select { @include jviz-input; padding-right: 0px; margin-left: 10px; margin-right: 0px; }
  }

  //Page container
  &-page
  {
    //Page label
    &-label
    {
      display: inline-block; float: right; height: 30px;

      //Text
      line-height: 30px; font-size: 14px; color: $jviz-navy;

      //Padding
      padding: { left: 10px; right: 10px; }
    }

    //Control page input
    &-input
    {
      //Include the input mixin
      @include jviz-input;

      //Display
      width: 60px; text-align: center; float: right;

      //Padding
      padding: { right: 0px; }

      //Margin
      margin: { left: 0px; right: 0px; }
    }

    //Page button
    &-btn { @include jviz-btn; float: right; background-color: $jviz-grey; color: $jviz-navy; }
  }
}
